<div style="width:1076px;">

    <div style="height:30px;"></div>
    <h2>Add Officer</h2>
    <div style="height:20px;"></div>
    
    <div class="row mt-2">
        <div class="col-2">
            <label class="col-form-label">Officer Email:</label>
        </div>
        <div class="col-4">
            <input class="form-control" type="text"/>
        </div>
    </div>
    
    <div class="row mt-3">
        <div class="col-2">
            <button type="button" class="btn btn-primary">Submit</button>
        </div>
    </div>
    <div style="height:20px;"></div>
    <hr/>
    <div style="height:10px;"></div>
    <h2>Remove Officer</h2>
    <div style="height:20px;"></div>
    
    <div class="row mt-2">
        <div class="col-2">
            <label class="col-form-label">Officer Email:</label>
        </div>
        <div class="col-4">
            <input class="form-control" type="text"/>
        </div>
    </div>
    
    <div class="row mt-3">
        <div class="col-2">
            <button type="button" class="btn btn-primary">Submit</button>
        </div>
    </div>
       
    
    
    
    </div>
    