


<div class="mb-3 row" style="padding-top:200px;">
    <label class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
        <input type="text"  [(ngModel)]="email"  class="form-control" value="">
    </div>
</div>

<div class="mb-3 row">
    <label class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
        <input type="password" [(ngModel)]="password" class="form-control" >
    </div>
</div>

<div  *ngIf="loginFailedAlert" [@fadeInOut] class="alert alert-danger" role="alert">
    Login Failed
</div>

<div class="col-auto" style="float:right">
    <button type="submit" class="btn btn-primary mb-3"  (click)="login()" >Login</button>
</div>