
<div style="width:1076px;">

    <div *ngIf="officerSelectShow" style="text-align:center; margin-top:50px;">
        Officer:
        <select>
            <option *ngFor="let item of officerList; index as i;">{{item.firstName}} {{item.lastName}}</option>
        </select>
    </div>

    <div style="margin-top:40px;"></div>

    <div class="year-title">Year</div>
    <div class="year-option"  style="cursor:pointer;" 
         (click)="changeYear(item); changeCalendarWeek();" *ngFor="let item of yearRange; index as i;" 
        [ngClass]="{'selected' : item== yearSelected}">
        {{item}} 
    </div>

    <div style="clear:both"></div>

    <div class="month-title">Month</div>

    <div class="month-option"  style="cursor:pointer;" 
         (click)="changeMonth(i+1); changeCalendarWeek();" *ngFor="let item of monthRange; index as i;" 
        [ngClass]="{'selected' : (i+1)== monthSelected}">
        {{item}} 
    </div>

    <div style="clear:both"></div>

    <div class="day-title">Day</div>

    
    <div class="day-option" style="cursor:pointer;" 
        (click)="changeDay(item); changeCalendarWeek();" *ngFor="let item of dayRange; index as i;" 
        [ngClass]="{'selected' : item== daySelected}">
        {{item}}
    </div>
    <div style="clear:both"></div>

    <div style="height:50px;"></div>
    

    <div style="margin: 0 auto; width:1000px; ">
        <div class="timeTitle" >Time</div>
        <div class="dailyTitle" style="margin:1px; cursor:pointer;"  
            *ngFor="let item of weekdayRange; index as i;" >
                {{item}}
        </div>
    </div>

    <div style="margin: 0 auto; width:1000px; ">

        <ng-container *ngFor="let item of timeRange;">
            <div class="time" >{{item}}</div>

            <div class="dailyTime" style="margin:1px; cursor:pointer;"  
            *ngFor="let item of weekdayRange; index as i;" >
                &nbsp;
            </div> 
    
        </ng-container>
        
           
        
        
    </div>
 
   










</div>