
<div style="width:1076px;">

    <div style="text-align:center; margin-top:50px;">
        Officer:
        <select>
            <option>Joko</option>
            <option>Herman</option>
        </select>
    </div>

    <div style="margin-top:40px;"></div>

    <div class="year-title">Year</div>
    <div class="year-option" *ngFor="let item of yearRange; index as i;" 
        [ngClass]="{'selected' : item== yearSelected}" >
        {{item}}
    </div>


    <div style="clear:both"></div>

    <div class="month-title">Month</div>

    <div class="month-option" [ngClass]="{'selected' : 1 == monthSelected}">January</div>
    <div class="month-option" [ngClass]="{'selected' : 2 == monthSelected}">Febuary</div>
    <div class="month-option" [ngClass]="{'selected' : 3 == monthSelected}">March</div>
    <div class="month-option" [ngClass]="{'selected' : 4 == monthSelected}">April</div>
    <div class="month-option" [ngClass]="{'selected' : 5 == monthSelected}">May</div>
    <div class="month-option" [ngClass]="{'selected' : 6 == monthSelected}">June</div>
    <div class="month-option" [ngClass]="{'selected' : 7 == monthSelected}">July</div>
    <div class="month-option" [ngClass]="{'selected' : 8 == monthSelected}">August</div>
    <div class="month-option" [ngClass]="{'selected' : 9 == monthSelected}">September</div>
    <div class="month-option" [ngClass]="{'selected' : 10 == monthSelected}">October</div>
    <div class="month-option" [ngClass]="{'selected' : 11 == monthSelected}">November</div>
    <div class="month-option" [ngClass]="{'selected' : 12 == monthSelected}">December</div>

    <div class="day-title">Day</div>

    
    <div class="day-option" *ngFor="let item of dayRange; index as i;" 
    [ngClass]="{'selected' : item== daySelected}">
        {{item}}
    </div>

   










</div>