
<div style="width:1076px;">

    <div style="text-align:center; margin-top:50px;">
        Officer:
        <select>
            <option>Joko</option>
            <option>Herman</option>
        </select>
    </div>

    <div style="margin-top:40px;"></div>

    <div class="year-title">Year</div>
    <div class="year-option"  style="cursor:pointer;" 
         (click)="changeYear(item); changeCalendarWeek();" *ngFor="let item of yearRange; index as i;" 
        [ngClass]="{'selected' : item== yearSelected}">
        {{item}} 
    </div>

    <div style="clear:both"></div>

    <div class="month-title">Month</div>

    <div class="month-option"  style="cursor:pointer;" 
         (click)="changeMonth(i+1); changeCalendarWeek();" *ngFor="let item of monthRange; index as i;" 
        [ngClass]="{'selected' : (i+1)== monthSelected}">
        {{item}} 
    </div>

    <div class="day-title">Day</div>

    
    <div class="day-option" style="cursor:pointer;" 
        (click)="changeDay(item); changeCalendarWeek();" *ngFor="let item of dayRange; index as i;" 
        [ngClass]="{'selected' : item== daySelected}">
        {{item}}
    </div>

   










</div>